*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', cursive;
}
body {
    
    .header {
        width: 100%;
        height: 75px;
        background-color: whitesmoke;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
        .container {
            width: 90%;
            max-width: 1200px;
            margin: auto;
            .logo {
                float: left;
                line-height: 75px;
                img {
                    width: 100px;
                    margin-top: -10px;
                }
            }
            .menu {
                float: right;
                line-height: 75px;
                a {
                    color: black;
                    text-decoration: none;
                    display: inline-block;
                    padding: 10px 15px;
                    line-height: normal;
                    font-size: 20px;
                    transition: all 500ms ease;
                    border-bottom: 4px solid transparent;
                    &:hover {
                        color: #2f8026;
                        border-bottom: 4px solid #2f8026;

                    }
                }
            }
        }
    }
    .container2 {
        position: absolute;
        left: 48%;
        top: 20%;
        transform: translate(-50%, -50%);
        padding: 10px;
        
        }
        input {
            outline: none;
            box-sizing: border-box;
            height: 50px;
            width: 350px;
            padding: 0 20px;
            color: rgb(43, 43, 43);
            border-radius: 50px;
            font-size: 20px;
            border: 1px solid #86fe79;
            transition: all .7s ease;
            
            &::placeholder {
                color: grey;
            }
            
            

        }
        .btn {
            position: absolute;
            right: 0;
            top: 0;
            width: 65px;
            height: 65px;
            background: #86fe79;
            line-height: 80px;
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
            transition: .5s;
            &:hover {
                background: #2f8026;
            }
            i {
                font-size: 25px;
                color: white;
                margin-top: 0px;
                transition: all .7s ease;
                &:hover {
                    transform: rotate(-360deg);
                }
         }          
    }
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    .galeria {
        position: relative;
        width: 300px;
        height: auto;
        margin-top: 150px;
        transform-style: preserve-3d;
        animation: animate 30s linear infinite;
        
        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform-origin: center;
            transform-style: preserve-3d;
            transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
            -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                object-fit: cover;
                cursor: pointer;
            }
        }
    }
    
    
    
}
@keyframes animate {
    0%{transform: perspective(1000px) rotateY(0deg);}
    100%{transform: perspective(1000px) rotateY(360deg);}
}
