body {
   font-family: 'Poppins'; 
   --color1: #f6f3f3; 
   --color2: #181818;
   background-color: #181818 !important;
   .nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    list-style: none;
    background-color: #181818;
    padding: 12px 20px;
    .logo img {
        width: 80px;
    }
    .menu {
        display: flex;
        li {
            padding-left: 30px;
            a {
                display: inline-block;
                text-decoration: none;
                color: #f6f3f3;
                text-align: center;
                transition: 0.15s ease-in-out;
                position: relative;
                text-transform: uppercase;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background-color: #fcf4f4;
                    transition: 0.15s ease-in-out;
                    &:hover::after {
                        width: 100%;
                    }
                }
            }

        }
        .close-menu {
            top: 20px;
            right: 20px;
            position: absolute;
            color:#f6f3f3;
            cursor: pointer;
            font-size: 1.5rem;
            display: none;

        }
        #check {
            display: none;
        }
        
        
    }
    .open-menu {
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        position: absolute;
        color:#f6f3f3;
        cursor: pointer;
        font-size: 1.5rem;
        display: none;
    }
    #check {display: none;}
    
   }
   div.buscar {
    input {
        width: 400px;
        height: 45px;
        margin: 20px 150vh;
        padding: 10px;
        font-size: 20px;
        outline: none;
        border: 3px solid #bd0808;
        border-radius: 50px;
        transition: all 0.5s ease;
        text-align: center;
                
    }
  }

  
  section.container {
        display: flex;
        padding: 0;
        margin-top: 60px;
        align-items: center;
        justify-content: center;
        gap: 30px;
        .home {
            padding: 5px;
            flex-direction: row;
            flex-wrap: nowrap;
            img {
                width: 150vh;
                height: auto;
            }
        }
    
    }
    .promo-barra {
        margin: 100px 50px;
        background-color: #640b0b86;
        h1 {
            color: #f6f3f3;
            font-family: 'Poppins';
            font-size: 35px;
            padding-top: 40px;
            font-weight: bold;
            text-align: center;
        }
        h3 {
            font-family: 'Poppins';
            color: #f6f3f3;
            text-align: center;
        }
        .mail {
            display: flex;
            justify-content: center;
            gap: 20px;
            input {
                width: 400px;
                height: 40px;
                font-size: 20px;
                font-family: 'Poppins';
                margin-top: 25px;
                margin-bottom: 35px;
            }
            button {
                margin-top: 25px;
                margin-bottom: 35px;
                font-family: 'Poppins';
                font-size: 19px;
            }
        }
    }
    .banner-footer {
        margin: 50px 0;
        img {
            width: auto;
            height: 800px;
            padding-left: 100px;
        }
    }
}