body {
  font-family: "Poppins";
  --color1: #f6f3f3;
  --color2: #181818;
  background-color: #181818 !important;
}
body .nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  list-style: none;
  background-color: #181818;
  padding: 12px 20px;
}
body .nav-bar .logo img {
  width: 80px;
}
body .nav-bar .menu {
  display: flex;
}
body .nav-bar .menu li {
  padding-left: 30px;
}
body .nav-bar .menu li a {
  display: inline-block;
  text-decoration: none;
  color: #f6f3f3;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
body .nav-bar .menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fcf4f4;
  transition: 0.15s ease-in-out;
}
body .nav-bar .menu li a::after:hover::after {
  width: 100%;
}
body .nav-bar .menu .close-menu {
  top: 20px;
  right: 20px;
  position: absolute;
  color: #f6f3f3;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
body .nav-bar .menu #check {
  display: none;
}
body .nav-bar .open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  position: absolute;
  color: #f6f3f3;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
body .nav-bar #check {
  display: none;
}
body div.buscar input {
  width: 400px;
  height: 45px;
  margin: 20px 150vh;
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: 3px solid #bd0808;
  border-radius: 50px;
  transition: all 0.5s ease;
  text-align: center;
}
body .banner-ini {
  margin: 50px 150px;
}
body .banner-ini img {
  width: auto;
  height: 600px;
}
body section.container {
  display: flex;
  padding: 0;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
body section.container .home {
  padding: 5px;
  flex-direction: row;
  flex-wrap: nowrap;
}
body section.container .home img {
  width: 100vh;
  height: auto;
}
body .promo-barra {
  margin: 100px 50px;
  background-color: rgba(100, 11, 11, 0.5254901961);
}
body .promo-barra h1 {
  color: #f6f3f3;
  font-family: "Poppins";
  font-size: 35px;
  padding-top: 40px;
  font-weight: bold;
  text-align: center;
}
body .promo-barra h3 {
  font-family: "Poppins";
  color: #f6f3f3;
  text-align: center;
}
body .promo-barra .mail {
  display: flex;
  justify-content: center;
  gap: 20px;
}
body .promo-barra .mail input {
  width: 400px;
  height: 40px;
  font-size: 20px;
  font-family: "Poppins";
  margin-top: 25px;
  margin-bottom: 35px;
}
body .promo-barra .mail button {
  margin-top: 25px;
  margin-bottom: 35px;
  font-family: "Poppins";
  font-size: 19px;
}
body .banner-footer {
  margin: 50px 0;
}
body .banner-footer img {
  width: auto;
  height: 800px;
  padding-left: 100px;
}
body footer {
  background-color: rgba(68, 65, 65, 0.7607843137);
  display: flex;
  gap: 50px;
}
body footer p {
  position: absolute;
  padding-top: 370px;
  font-size: 18px;
}
body footer div {
  flex-direction: column;
  padding: 30px;
}
body footer div h3 {
  color: #fcf4f4;
  font-family: "Poppins";
  font-size: 27px;
  font-weight: bold;
}
body footer div ul {
  list-style: none;
}
body footer div ul li {
  position: relative;
}
body footer div ul li a {
  display: block;
  text-decoration: none;
  font-size: 21px;
  font-family: "Poppins";
  color: #fcf4f4;
  margin: 10px;
}
body footer div ul li a:hover {
  color: #7a1212;
  transition: all 0.2s ease-in-out;
}/*# sourceMappingURL=main.css.map */